@font-face {
  font-family: "Inter_medium";
  src: url(../../../../../assets/fonts/static/Inter_18pt-Medium.ttf)
    format("woff2");
}

@font-face {
  font-family: "Inter_semibold";
  src: url(../../../../../assets/fonts/static/Inter_18pt-SemiBold.ttf)
    format("woff2");
}

@font-face {
  font-family: "Inter_thin";
  src: url(../../../../../assets/fonts/static/Inter_18pt-Thin.ttf)
    format("woff2");
}

@font-face {
  font-family: "Inter_medium";
  src: url(../../../../../assets/fonts/static/Inter_18pt-Medium.ttf)
    format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.head_banner_container {
  @include displayCenter(center, center);
  width: 100%;
  background-color: #211c24;
  // margin-bottom: 10px;
  .banner_section {
    @include displayCenter(space-between, center);
    width: 82%;
    max-width: 1620px;
    gap: 16px;
    .product_info {
      .title {
        font-family: "Inter_semibold";
        color: var(--gray);
        font-size: 25px;
        margin-bottom: 24px;
      }
      .product_name {
        font-family: "Inter_thin";
        font-size: clamp(72px, 6vw, 96px);
        color: var(--white);
        margin: 0px;
        & span {
          font-family: "Inter_semibold";
        }
      }
      .description {
        font-family: "Inter_medium";
        font-size: 18px;
        color: var(--gray_text);
        margin: 24px 0px;
      }
    }
    .banner_img {
      width: clamp(326px, 34vw, 406px);
    }
  }
}

// Responsive

@media screen and (max-width: 1000px) {
  .head_banner_container {
    .banner_section {
      flex-direction: column;
      text-align: center;
      .product_info {
        @include displayCenter(space-between, center);
        flex-direction: column;
        margin-top: 88px;
        margin-bottom: 48px;
      }
      .banner_img {
        width: clamp(270px, 35vw, 406px);
      }
    }
  }
}
