@font-face {
  font-family: "Inter_medium";
  src: url(../../../../assets/fonts/static/Inter_18pt-Medium.ttf)
    format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.user_cart_container {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background-color: #00000043;
  backdrop-filter: blur(10px);
  padding: 1px 15px;
  font-family: "Inter_medium";
  border-radius: 5px;
  .text {
    @include displayCenter(flex-start, center);
    gap: 10px;
    margin: 15px 0px;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    .icon {
      font-size: 20px;
    }
    &:hover {
      color: #ea4335;
    }
  }
}
