@font-face {
  font-family: "Inter_medium";
  src: url(../../../assets/fonts/static/Inter_18pt-Medium.ttf) format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.about_container {
  width: 100%;
  max-width: 1920px;
  padding: 20px 140px;
  text-align: center;
  margin: 0 auto;
  .about_head {
    font-family: "Inter_medium";
    font-size: 32px;
    color: var(--balck_text_color);
  }
  .about_company {
    width: 100%;
    margin: 25px 0px;
    font-family: "Inter_medium";
    text-align: left;
    font-size: 16px;
    color: var(--balck_text_color);
  }
}

// Responsive

@media screen and (max-width: 1025px) {
  .about_container {
    padding: 20px 16px;
  }
}
