@font-face {
  font-family: "Inter_medium";
  src: url(../../assets/fonts/static/Inter_18pt-Medium.ttf) format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.button {
  font-family: "Inter_medium";
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

.btn_shop {
  @include displayCenter(center, center);
  position: relative;
  width: 191px;
  height: 51px;
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: var(--white);
    transition: width 0.5s ease;
  }
  span {
    position: relative;
    z-index: 1;
    color: var(--white);
    transition: color 0.4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover span {
    color: #000;
  }
}

.btn_shop_black {
  @include displayCenter(center, center);
  position: relative;
  width: 191px;
  height: 51px;
  background: transparent;
  border: 1px solid var(--black_text_color);
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: var(--black_text_color);
    transition: width 0.5s ease;
  }
  span {
    position: relative;
    z-index: 1;
    color: var(--black_text_color);
    transition: color 0.4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover span {
    color: var(--white);
  }
}

.btn_buy_now {
  @include displayCenter(center, center);
  position: relative;
  width: clamp(139.5px, 13vw, 191px);
  height: clamp(48px, 3vw, 51px);
  background: var(--black_text_color);
  border: none;
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: #a020f0;
    transition: width 0.5s ease;
  }
  span {
    position: relative;
    z-index: 1;
    color: var(--white);
    transition: color 0.4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover span {
    color: var(--white);
  }
}

.btn_login {
  @include displayCenter(center, center);
  position: relative;
  width: clamp(139.5px, 13vw, 150px);
  height: clamp(48px, 3vw, 51px);
  background: var(--black_text_color);
  border: none;
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: #a020f0;
    transition: width 0.5s ease;
  }
  span {
    position: relative;
    z-index: 1;
    color: var(--white);
    transition: color 0.4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover span {
    color: var(--white);
  }
}

.btn_reg {
  @include displayCenter(center, center);
  position: relative;
  width: 100%;
  height: clamp(48px, 3vw, 51px);
  background: var(--black_text_color);
  border: none;
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: #a020f0;
    transition: width 0.5s ease;
  }
  span {
    position: relative;
    z-index: 1;
    color: var(--white);
    transition: color 0.4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover span {
    color: var(--white);
  }
}

.btn_fav {
  @include displayCenter(center, center);
  position: relative;
  width: 100%;
  height: 51px;
  background: transparent;
  border: 1px solid var(--black_text_color);
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: var(--black_text_color);
    transition: width 0.5s ease;
  }
  span {
    position: relative;
    z-index: 1;
    color: var(--black_text_color);
    transition: color 0.4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover span {
    color: var(--white);
  }
}

.btn_card {
  @include displayCenter(center, center);
  position: relative;
  width: 100%;
  height: 51px;
  background: var(--black_text_color);
  border: none;
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: #a020f0;
    transition: width 0.5s ease;
  }
  span {
    position: relative;
    z-index: 1;
    color: var(--white);
    transition: color 0.4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover span {
    color: var(--white);
  }
}

.btn_not_found {
  @include displayCenter(center, center);
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 51px;
  background: transparent;
  border: 1px solid var(--black_text_color);
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: var(--black_text_color);
    transition: width 0.5s ease;
  }
  span {
    position: relative;
    z-index: 1;
    color: var(--black_text_color);
    transition: color 0.4s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover span {
    color: var(--white);
  }
}
