@font-face {
  font-family: "Inter_medium";
  src: url(../../../assets/fonts/static/Inter_18pt-Medium.ttf) format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.input_cont {
  @include displayCenter(center, center);
  .minus,
  .plus {
    @include displayCenter(center, center);
    background: transparent;
    color: var(--black_text_color);
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .count{
    width: 40px;
    height: 24px;
    border: 1px solid var(--bolder_gray_text);
    border-radius: 4px;
    text-align: center;
    font-family: "Inter_medium";
    font-size: 16px;
  }
}
