@font-face {
  font-family: "Inter_medium";
  src: url(../../../../assets/fonts/static/Inter_18pt-Medium.ttf)
    format("woff2");
}
@font-face {
  font-family: "Inter_semi_bold";
  src: url(../../../../assets/fonts/static/Inter_18pt-SemiBold.ttf)
    format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.products_container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 56px 160px;
  .navigate {
    @include displayCenter(flex-start, center);
    gap: 32px;
    margin-bottom: 32px;
    .navigate_swiper {
      width: 100%;
    }
    .swiper-wrapper {
      align-items: flex-start;
    }
    .swiper-slide {
      width: auto;
    }
    p {
      font-family: "Inter_medium";
      font-size: 18px;
      line-height: 32px;
      white-space: nowrap;
      cursor: pointer;
    }
  }
  .product_section {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    row-gap: 16px;
    width: 100%;
  }
}

// Responsive

@media screen and (max-width: 1150px) {
  .products_container {
    .product_section {
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1025px) {
  .products_container {
    padding: 56px 50px;
  }
}

@media screen and (max-width: 768px) {
  .products_container {
    padding: 56px 16px;
  }
}

@media screen and (max-width: 650px) {
  .products_container {
    .product_section {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media screen and (max-width: 450px) {
  .products_container {
    .product_section {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
  }
}
