@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.search {
  @include displayCenter(center, center);
  width: 70%;
  max-width: 372px;
  position: relative;
  border-radius: 8px;
  .search_input {
    width: 100%;
    padding: 16px 16px 16px 40px;
    border: none;
    outline: none;
    background-color: var(--white_bg);
    border-radius: 8px;
  }
  .search_icon {
    position: absolute;
    left: 16px;
    cursor: pointer;
  }
  .searched_item {
    @include displayCenter(flex-start, flex-start);
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    top: 100%;
    left: 0px;
    background-color: var(--white);
    z-index: 99;
    .not_found{
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 16px;
      color: var(--black_text_color);
    }
  }
}

// Responsive
@media screen and (max-width: 1025px) {
  .search {
    width: 100%;
    max-width: none;
    border-radius: 0px;
    margin-top: 70px;
    .search_input {
      border-radius: 0px;
    }
  }
}
