@font-face {
  font-family: "Inter_medium";
  src: url(../../../assets/fonts/static/Inter_18pt-Medium.ttf) format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
.header_items {
  @include displayCenter(space-between, center);
  gap: 5px;
  width: 30%;
  max-width: 144px;
  .header_icon {
    font-size: 20px;
  }
  .favorites_cont,
  .cart_cont,
  .user_cont {
    @include displayCenter(center, center);
    gap: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    .icons {
      display: none;
    }
    &:hover {
      background-color: black;
      color: var(--white);
    }
  }
  .user_cont {
    position: relative;
    .user_cart_container {
      position: absolute;
      top: 100%;
      right: 0;
      width: max-content;
      background-color: #00000043;
      backdrop-filter: blur(10px);
      padding: 14px;
      font-family: "Inter_medium";
      .login_text {
        @include displayCenter(space-between, center);
        gap: 8px;
        color: var(--white);
        font-size: 16px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        .login_icon {
          font-size: 20px;
        }
        &:hover {
          color: #ea4335;
        }
      }
    }
  }
}

// Responsive

@media screen and (max-width: 1025px) {
  .header_items {
    @include displayCenter(flex-start, flex-start);
    flex-direction: column;
    gap: 10px;
    padding-left: 16px;
    .favorites_cont,
    .cart_cont,
    .user_cont {
      .icons {
        display: flex;
      }
    }
  }
}
