@font-face {
  font-family: "Inter_medium";
  src: url(./assets/fonts/static/Inter_18pt-Medium.ttf) format("woff2");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Inter_medium";
}

:root {
  --black_text_color: #000000;
  --gray_text_color: rgb(179, 179, 179);
  --white_bg: #f5f5f5;
  --white_cart: #f6f6f6;
  --white: #ffffff;
  --bolder_white: #fafafa;
  --gray_text: #909090;
  --gray: rgb(122, 119, 124);
  --bold_gray: #353535;
  --light_gray: #ededed;
  --white_gray: #cfcfcf;
  --whiter_gray: #f4f4f4;
  --bolder_gray_text: #A7A7A7;
  --bolder_gray: #4E4E4E;
  --light_dark_gray: #6C6C6C;
  --transparent_black: #1b1b1bc7;
  --white_item: #e8e8e8;
  --gold: #e1b000;
  --red: #e10000;
  --purple: #781dbc;
}
